@media (max-width: 450px) {
    /* CSS for low-resolution devices */
    .tg {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
      border-spacing: 0;
    }
    
    .tg th {
        font-size: 14px;
        padding: 10px 5px;
        text-align: center;
        vertical-align: middle;
    }

    .tg-c3ow {
        width: 16%;
        text-align: left;
    }
      
    .tg-c3ow img {
        height: 40px;
    }
    
    #deviceid {
        position: relative;
    }
    
    #soil-condition {
        position: absolute;
        bottom: 0;
        font-size: 12px;
    }

    #lastvalue {
        position: relative;
    }
      
    #lastvalue-text {
        position: absolute;
        top: 0;
        font-size: 12px;
    }
    
}

body {
    background-color: #ffffff;
    height: 100%;
}

.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiTypography-h1 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiTypography-root {
    margin: 0;
}
.jssWA1 {
    color: unset;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.semi-circle{
    width: 50px;
    height: 25px;
    border: 10px solid white;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.plot_center
{
    margin-left: auto;
    margin-right: auto;
    /* width: 95%; */
    height: auto;

    border-bottom: 2px solid black;
    /* border-radius: 25px;
    border: 2px solid #f4b548; */
    padding: 10px;
    /*padding-top: 20px; */
    background-color: #ffffff;
}


#deviceid {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0,176,240);
    color: white;
    text-align: center;
  }


  .div_containers, .add_device {
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
    border-color: #ccccb3;
}

  /* Add device button */
.add_device button {
    border-radius: 5px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    --b: 1px;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    border: 10px solid white;
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #fff 90deg, #f4b548 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    display: inline-block;
}